.FacesPage .faceSelectorBox {
  /* width: px; */
}

.FacesPage .backgroundContent {
  width: 100%;
  height: 100%;
}

.FacesPage .selectedFace {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.FacesPage .selectedFaceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FacesPage .ageGenderPrediction {
  margin-top: 20px;
  font-weight: 500;
  font-size: 0.8rem;
  color: #aaa;
}

.FacesPage .selectedFace img {
  border-radius: 10px;
}

.FacesPage .faceSelectorBox img {
  border-radius: 10px;
}

.FacesPage .FacesPageContent {
  /* height: 80%; */
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FacesPage .FaceGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: masonry;
  column-gap: 10px;

  /* display: flex; */
  padding: 20px;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  margin-top: 20px;
  /* justify-content: space-around; */
  /* align-content: center; */
  /* background-color: #0a3d62; */
  /* border-top-left-radius: 10px; */
}

.FacesPage .FaceGrid > div {
  flex: 0 32%;
  /* height: 100px; */
  margin-bottom: 2%; /* (100-32*3)/2 */
}
