.ResultsPage .faceSelectorBox {
  /* width: px; */
}

.ResultsPage .backgroundContent {
  width: 100%;
  height: 100%;
}

.ResultsPage .selectedFace {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.ResultsPage .selectedFaceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ResultsPage .ageGenderPrediction {
  margin-top: 20px;
  font-weight: 500;
}

.ResultsPage .selectedFace img {
  border-radius: 10px;
}

.ResultsPage .faceSelectorBox img {
  border-radius: 10px;
}

.ResultsPage .ResultsPageContent {
  height: 80%;
  padding: 20px;
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ResultsPage .FaceGrid {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-around;
  align-content: center;
}

.ResultsPage .FaceGrid > div {
  flex: 0 32%;
  height: 100px;
  margin-bottom: 2%; /* (100-32*3)/2 */
}

.ResultsPage .full-width {
  margin-top: auto;
  width: 100%;
}

.ResultsPage .resultsContainer {
  margin: 0px;
}

.ResultsPage .matchBox {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
}

.ResultsPage .matchPhoto img {
  border-radius: 10px;
  margin: 5px;
  max-width: 33vw;
}

.ResultsPage .matchInfoBox {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.ResultsPage .matchName {
  font-weight: 700;
}

.ResultsPage .sameRow {
  display: flex;
  justify-content: space-between;
}

.ResultsPage .smallInfoText {
  font-size: 0.9rem;
}

.ResultsPage .text-center {
  text-align: center;
}

.ResultsPage .pageTitle {
  font-weight: 500;
}
